<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>平铺3个元素</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
    .tile{
      display: inline-block;
      width: 33.3%;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="tiles">
    <div class="tile">
      <img class="tile-image" src="https://via.placeholder.com/250x150" alt="placeholder">
    </div><div class="tile">
      <img class="tile-image" src="https://via.placeholder.com/250x150" alt="placeholder">
    </div><div class="tile">
      <img class="tile-image" src="https://via.placeholder.com/250x150" alt="placeholder">
    </div>
  </div>
</body>

</html>