<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>清除浮动</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
    .float{
      float: left;
    }
    .clearfix::after{
      content: '';
      display: block;
      clear: both;
    }
  </style>
</head>
<body>
  <div class="clearfix">
    <div class="float">float a</div>
    <div class="float">float b</div>
    <div class="float">float c</div>
  </div>
  <p>this a paragraph, but not in new line</p>
</body>
</html>