<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>固定宽高比</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
    .constant-width-to-height-ratio {
      width: 100px;
      background-color: burlywood;
    }
    .constant-width-to-height-ratio::after{
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  </style>
</head>
<body>
  <div class="constant-width-to-height-ratio">
  </div>
</body>
</html>