<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>固定宽高比</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
    .constant-width-to-height-ratio {
      background-color: burlywood;
      width: 300px
    }

    .constant-width-to-height-ratio::before {
      content: '';
      padding-bottom: 90%;
      float: left;
    }

    .constant-width-to-height-ratio::after{
      content: '';
      display: block;
      clear: both;
    }
  </style>
</head>
<body>
  <div class="constant-width-to-height-ratio">
    <p>123123123</p>
  </div>
</body>
</html>