<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>弹性盒模型，平均分配元素的几种方式</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
    .evenly-distributed-children {
      display: flex;
      /* 
        space-between 两边靠边，中间均分
        space-around 所有弹性元素两边的距离一致，最终效果是，两边的距离是中间的一半
        space-evenly 每个元素的左侧和右侧空白都相等
      */
      justify-content: space-evenly;
    }
  </style>
</head>
<body>
  <div class="evenly-distributed-children">
    <p>Item 1</p>
    <p>Item 2</p>
    <p>Item 3</p>
  </div>
</body>
</html>