<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">

  <style>
    .image{
      width: 200px;
      height: 200px;
    }
    .image-contain{
      object-fit: contain;
    }
    .image-cover{
      object-fit: cover;
    }
  </style>
</head>
<body>
  <img src="https://picsum.photos/600/200" alt="placeholder" class="image image-contain">
  <img src="https://picsum.photos/600/200" alt="placeholder" class="image image-cover">
  <br>
  <img src="https://picsum.photos/600/200" alt="placeholder" class="image">
  <img src="https://picsum.photos/600/200" alt="placeholder">
</body>
</html>