<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>幽灵特技</title>
  <link href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css" rel="stylesheet">
  <style>
  
  </style>
</head>
<body>
  <div class="ghost-trick">
    <div class="ghosting">
      <p>Vertically centered without changing the position property.</p>
    </div>
  </div>
</body>
</html>